# live-build artifacts
config/binary
config/bootstrap
config/cache
config/chroot
config/rootfs
config/source
config/tmp
config/local-packages
config/local-includes
*.iso
*.img
*.zsync
*.contents
*.packages
*.buildlog
.build/
chroot.*
binary.*
